.vs/
/Debug/
/packages/
01-Thread-Basic/bin/
01-Thread-Basic/obj/
02-Task-Basic/bin/
02-Task-Basic/obj/
03-WPF-Thread/bin/
03-WPF-Thread/obj/
04-MEF-IOpt/bin/
04-MEF-IOpt/obj/
04-MEF-Opt1/bin/
04-MEF-Opt1/obj/
04-MEF-Opt2/bin/
04-MEF-Opt2/obj/
04-MEF-SampleConsumer/bin/
04-MEF-SampleConsumer/obj/
05-PartialClass/bin/
05-PartialClass/obj/
06-Dictionary/bin/
06-Dictionary/obj/
07-UnitTest-11-App/bin/
07-UnitTest-11-App/obj/
07-UnitTest-12-MSTest/bin/
07-UnitTest-12-MSTest/obj/
07-UnitTest-13-Lib2/Debug/
07-UnitTest-14-App2/Debug/
07-UnitTest-15-GoogleTest/Debug/
08-CodeSnippets-Cpp/Debug/
09-Lib-CSClass/bin/
09-Lib-CSClass/obj/
09-Lib-CSNetFw/bin/
09-Lib-CSNetFw/obj/
09-Lib-CSWPF/bin/
09-Lib-CSWPF/obj/
09-UseApp/bin/
09-UseApp/obj/
09-UseApp-WPF/bin/
09-UseApp-WPF/obj/
10-GetterSetter/bin/
10-GetterSetter/obj/
11-Log4Net/bin/
11-Log4Net/obj/
12-CS-Graphics/bin/
12-CS-Graphics/obj/
13-CS-Encryption/bin/
13-CS-Encryption/obj/
14-CodeSnippets-Cs/bin/
14-CodeSnippets-Cs/obj/
15-CS-DateTime/bin/
15-CS-DateTime/obj/
16-Cs-Config/bin/
16-Cs-Config/obj/
17-CS-Linq/bin/
17-CS-Linq/obj/
18-CS-AwsPostgres/bin/
18-CS-AwsPostgres/obj/