.vs/
01-Thread-Basic/bin/
01-Thread-Basic/obj/
02-Task-Basic/bin/
02-Task-Basic/obj/
03-WPF-Thread/bin/
03-WPF-Thread/obj/
04-MEF-Opt1/bin/
04-MEF-Opt1/obj/
04-MEF-Opt2/bin/
04-MEF-Opt2/obj/
04-MEF-SampleConsumer/bin/
04-MEF-SampleConsumer/obj/
05-PartialClass/bin/
05-PartialClass/obj/